#contact {
  text-align:center;
}
#contact ul {
  list-style: none;
  padding:0;
  text-align:center;
}
#contact li::before {
  display:inline-block;
  font-style: italic;
  content: "or";
  display: block;
  padding:1em 0;
}
#contact li:first-child::before {
  content: "";
}
