#carousel .ant-col > * {
  text-align:center;
  margin:8px 0;
}
#carousel .ant-image {
  margin:8px;
  box-shadow:1px 1px 7px #000a;
}
#requirements .anticon {
  font-size:3em;
}
#services .ant-image {
  padding:15px;
  background-color: #ff9c27;
  border-radius: 1em;
  width:96px;
}
#services .ant-image-img {
  height:66px;
}
#support .ant-image-img,
#team .ant-image-img {
  height: 162px;
  width: auto;
  border-radius: 50%;
  box-shadow:1px 1px 7px #000a;
}
