.ant-layout-content,
.ant-layout-header,
.ant-layout-footer {
  padding: 0 1em;
}

.contactOptions {
  list-style: none;
  padding:0;
  text-align:center;
}
.contactOptions li::before {
  display:inline-block;
  font-weight: bolder;
  content: "or";
  display: block;
  padding:1em 0;
}
.contactOptions li:first-child::before {
  content: "";
}

@media(min-width:768px) {
  html {
    max-width:960px;
    margin:0 auto;
  }
  .ant-layout-content,
  .ant-layout-header,
  .ant-layout-footer {
    padding: 0 50px;
  }
}
