@media(min-width:768px) {
  body .ant-layout-header,
  body .ant-layout-footer,
  .section.section {
    padding: 1em 50px;
  }
}

body .ant-layout {
  background-color:white;
}
body .ant-layout-header {
  background-color: white;
}
body .ant-layout-header,
body .ant-layout-footer,
.section.section {
  padding: 1em 1em;
}
body .ant-layout-header > *,
body .ant-layout-footer > *,
.section.section > * {
  max-width:960px;
  margin:0 auto;
}
.section .any-typography {
  color: #192024;
}
.section.emphasis {
  background-color: #ff9c27;
}
.section.emphasis .ant-typography {
  color: white;
}
.section.dark {
  background-color: #192024
}
.section.dark .ant-typography {
  color: white;
}

.card-deck {
  row-gap:16px !important;
  margin-left: -8px !important;
  margin-right: -8px !important;
}
.card-deck > .ant-col {
  padding-left:8px !important;
  padding-right:8px !important;
  display: flex;
  align-items: stretch;
}
.card-deck .ant-card {
  background-color:#fffa;
  border-color:#0004;
  box-shadow:1px 1px 8px #0004
}
.section.emphasis .card-deck .ant-card,
.section.dark .card-deck .ant-card {
  background:none;
  border:none;
  box-shadow:none;
}

.ant-layout-header .ant-image-img {
  height:60px;
  width:auto;
}
.ant-layout-footer li {
  list-style:none;
  padding:.33em 0;
}